@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
  --primary_color_bright: #a17dff;
  --primary_color: #f8f1ec;
  --primary_color_light: #c4b2f6;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
hr {
  margin: 0.5rem auto;
  background: #feb12f;
}
.aboutMe {
  font-family: "Josefin Sans", sans-serif;
  line-height: 2rem;
  margin-top: 3rem;
}
.aboutMeText {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 80%;
  margin: auto;
}
.aboutMeText h3 {
  text-align: center;
}
.aboutMeText h3:hover {
  transform: rotate(5deg) scale(1.3);
  transition: transform 0.2s linear;
}
.skills_card {
  padding: 2.5rem 2.18rem;
}
.skills_card h3:hover {
  transform: rotate(5deg) scale(1.3);
  transition: transform 0.2s linear;
}
.skills_header > p {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px 2px rgb(234, 226, 226);
  width: 24rem;
  margin: 4rem auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  width: 6rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: #feb12f;
}

/* Create an active/current tablink class */
.tab button.active {
  background: #feb12f;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeEffect 1s;
}
.skill {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-content: flex-start;
}
.skill > .skillIcon > img {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}
.skill > .skillIcon > img:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 0.3s linear;
}
/* styling for phone screen */
@media only screen and (max-width: 599px) {
  .aboutMe__text {
    height: 40%;
    margin-top: 8rem;
    font-size: 0.8rem;
  }
  .aboutMe__text > h3 {
    font-size: 1rem;
  }
  .skills_card {
    margin: -3rem 2rem 2rem 2rem;
    padding: 0.1rem;
  }
  .skill {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .skill > .skillIcon > img {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: contain;
  }
  .skillName {
    font-size: 0.8rem;
  }
  .tab {
    display: none;
  }
}
/* styling for tablet screen */
@media only screen and (max-width: 899px) and (min-width: 600px) {
  .skill > .skillIcon > img {
    height: 1.5rem;
    width: 1.5rem;
  }
  .skillName {
    font-size: 0.8rem;
  }
}
