.ContactMe_card {
  margin-bottom: 0;
  height: 10rem;
  background-color: #613449;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ContactMe_card > .text > h3 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
.icons {
  display: flex;
  justify-content: center;
}
.icons > a > img {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  margin: auto;
}
.icons > a > img:hover {
  transform: rotate(360deg);
  transition: transform 0.5s linear;
  cursor: pointer;
}

/* styling for mobile devices  */
@media only screen and (max-width: 600px) {
  .Contactme_card > .text > h3 {
    font-size: 1rem;
  }
  .Contactme_card > .name > p.email {
    font-size: 0.5rem;
  }
  .icons > a > img {
    height: 1rem;
    width: 1rem;
  }
}
