.ContactMe {
  height: 75vh;
  width: 100vw;
}
.ContactMe_card {
  height: 70%;
  width: 50%;
  margin: 0 auto 2rem auto;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 2.5rem 2.18rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box:shadow:horizontal vertical blur spread-radius color; */
  box-shadow: 2px 2px 10px 2px grey;
}
.Contactme_cardLeft {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.Contactme_cardLeft > .text > h3 {
  color: black;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
.Contactme_cardLeft > .name > p.myName {
  color: rgb(236, 153, 0);
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
.Contactme_cardLeft > .name > p.email {
  color: black;
}
.icons > img {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
}
.icons > img:hover {
  transform: rotate(360deg);
  transition: transform 0.5s linear;
  cursor: pointer;
}
.Contactme_cardRight > .contactForm {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.Contactme_cardRight > .contactForm > input[type="text"] {
  all: unset;
  border: 1px solid rgb(198, 198, 198);
  color: rgb(124, 124, 124);
}
.Contactme_cardRight > .contactForm > textarea {
  all: unset;
  border: 1px solid rgb(198, 198, 198);
  color: rgb(124, 124, 124);
  height: 5rem;
}
.Contactme_cardRight > .contactForm > input[type="submit"] {
  all: unset;
  color: rgb(236, 153, 0);
  font-size: 1.25rem;
}
.Contactme_cardRight > .contactForm > input[type="submit"]:hover {
  background-color: rgb(236, 153, 0);
  color: white;
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s linear;
  border-radius: 2px;
  box-shadow: -2px 2px 2px 2px rgb(247, 228, 194);
}
/* styling for mobile devices  */
@media only screen and (max-width: 600px) {
  .ContactMe_card {
    height: 80%;
    width: 80%;
    margin: 1rem;
    padding: 1rem 1rem;
  }
  .Contactme_cardLeft > .text > h3 {
    font-size: 1rem;
  }
  .Contactme_cardLeft > .name > p.myName {
    font-size: 0.8rem;
  }
  .Contactme_cardLeft > .name > p.email {
    font-size: 0.5rem;
  }
  .icons > img {
    height: 1rem;
    width: 1rem;
  }
  .Contactme_cardRight > .contactForm {
    padding: 1rem;
    gap: 2rem;
  }
  .Contactme_cardRight > .contactForm > textarea {
    height: 2rem;
  }
  .Contactme_cardRight > .contactForm > input[type="submit"] {
    font-size: 1rem;
  }
}
