.homepage {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 0.1rem;
  height: 90vh;
  background-color: #f9f5f7;
}
.homepage__left {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 2rem;
}
.homepage__header__name {
  font-size: 8rem;
  font-family: "Dancing Script", cursive;
}
.homepage__header__details {
  font-size: 1.5rem;
}
.homepage__right {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-grow: 0;
}
.homepage__right > .aboutMe__img > img {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}
.button__about {
  height: 3rem;
  width: 15rem;
  background-color: #613449;
  color: white;
  border-radius: 20px;
  border-style: none;
  font-size: 1rem;
}
.button__about:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
  cursor: pointer;
  color: antiquewhite;
  box-shadow: 5px 5px 5px #bda5b0;
}
/* styling for phone screen  */
@media only screen and (max-width: 600px) {
  .homepage {
    display: flex;
    flex-direction: column;
  }
  .homepage__header__name {
    margin-top: 5rem;
    font-size: 5rem;
  }
  .homepage__header__details {
    font-size: 2rem;
  }
  .button__about {
    width: 7rem;
  }
  .homepage__right > .aboutMe__img > img {
    height: 10rem;
    width: 10rem;
  }
}
