.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: #f8e7f0;
}
.navbar__links > button {
  background: none;
  color: black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}
.navbar__links > button:hover {
  color: rgb(236, 153, 0);
  transform: scale(1.2);
  transition: transform 0.2s linear;
}
.navbar__links > a > button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}
.navbar__links > a:link {
  color: black;
}
.navbar__links > a > button:hover {
  color: rgb(236, 153, 0);
  transform: scale(1.2);
  transition: transform 0.2s linear;
}

/* styling for phone screen  */
@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: space-evenly;
    gap: 0;
  }
  .navbar__links > button {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .navbar__links > a > button {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
