.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 3vw, 3rem);
  padding: clamp(1rem, 2vw, 2rem);
  position: sticky;
  top: 0rem;
  z-index: 99;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.navbar__links > button {
  background: none;
  color: var(--color-black);
  font-style: bold;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
  font-size: var(--font-size-heading3);
}
.navbar__links > button:hover {
  color: var(--secondary_color_text);
  transform: translateY(-2px);
}
.navbar__links > button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: var(--tertiary_color);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navbar__links > button:hover::after {
  width: 60%;
}

@media (min-width: 1600px) {
  .navbar {
    gap: 10rem;
    padding: 2.5rem;
  }

  .navbar__links > button {
    font-size: 2rem;
  }

  .navbar__links > button::after {
    height: 3px;
  }
}
