.workExp {
  padding: clamp(2rem, 5vw, 5rem);
}

.workExp > p {
  font-size: clamp(1.4rem, 2.5vw, var(--font-size-heading2));
  font-weight: 600;
  text-align: center;
  color: var(--color-black);
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.workExp > p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 200%;
  transform: translate(-50%, -50%);
  /* background: radial-gradient(
    circle,
    rgb(207, 190, 251) 0%,
    rgb(250, 249, 252) 40%,
    transparent 70%
  ); */
  filter: blur(20px);
  z-index: -1;
}
.workExp > p::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5rem;
  height: 0.15rem;
  background: var(--tertiary_color);
  transition: width 0.3s ease;
}

.workExp > p:hover::after {
  width: 18%;
}

.experience_section {
  position: relative;
  width: min(90%, 900px);
  margin: clamp(2rem, 5vw, 3rem) auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience_section::before {
  content: "";
  width: 2px;
  left: 0;
  top: 2rem;
  bottom: 0;
  background-color: var(--tertiary_color_light);
  position: absolute;
}

.experience {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-left: 2rem;
}

.experience > h5:nth-child(1) {
  position: relative;
  font-size: var(--font-size-heading3);
}

.experience > h5:nth-child(1)::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  left: calc(-2rem - 0.5 * 1.5em);
  top: 0;
  position: absolute;
  background-color: var(--tertiary_color);
  border-radius: 50%;
}

.date {
  /* font-size: clamp(0.75rem, 1vw, var(--font-size-sm)); */
  color: var(--secondary_color_text);
  opacity: 0.8;
  padding-top: 0.4rem;
}

.experience > ul {
  display: flex;
  flex-direction: column;
  gap: clamp(0.3rem, 1vw, 0.6rem);
  margin-top: 0.5rem;
  padding-left: 0;
  list-style: none;
}

.experience > ul > li {
  line-height: 1.5;
  color: #444;
}

@media (min-width: 1600px) {
  .workExp > p {
    font-size: 3rem;
  }

  .experience > h5:nth-child(1) {
    font-size: 1.75rem;
  }

  .org {
    font-size: 1.3rem;
  }

  .date {
    font-size: 1.1rem;
  }

  .experience > ul > li {
    font-size: 1.25rem;
  }
}
