.workExp > h3 {
  text-align: center;
  margin-top: 2rem;
}
.experience_section {
  display: flex;
}
hr {
  margin: 0.5rem auto;
  color: #feb12f;
}
.experience {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
  padding-left: 2rem;
  border-left: 2px solid #feb12f;
}
.experience::before {
}
.experience > p {
  font-size: 0.9rem;
  color: #feb12f;
  opacity: 0.8;
}
.experience > ul {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.experience > ul > li {
  margin: 0.5rem;
}
