@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* --font-family: "Inter", sans-serif; */
  font-family: "Playfair Display", serif;
  --font-size-heading: 2rem;
  --font-size-heading2: 1.85rem;
  --font-size-heading1: 1.5rem;
  --font-size-heading3: 1.1rem;
  --font-size-sm: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  --primary_color: #f8f1ec;
  --secondary_color: #ac8efa;
  --secondary_color_med: #b9a0fa;
  --secondary_color_light: #cebff9;
  --tertiary_color: #feb12f;
  --tertiary_color_light: #fadcc3;
  --secondary_color_text: #706052;
  --color-white: #ffffff;
  --color-black: #000000;
}

html ::selection {
  background-color: var(--secondary_color_light);
  color: var(--color-white);
}
